extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consequat turpis ut accumsan consectetur. Nulla ac purus urna. Ut sem orci, ullamcorper at metus et, gravida blandit lacus. Nullam ullamcorper orci ac dolor hendrerit, nec viverra tellus convallis. Fusce ultrices, dui et hendrerit blandit, elit enim hendrerit lorem, sed placerat quam enim vel odio. Fusce volutpat facilisis metus, id fermentum enim placerat eu. Cras a condimentum quam, at lobortis metus. Quisque commodo porttitor sapien, vel porta lectus tristique vel. Etiam nec ligula varius diam ornare vulputate ut vulputate odio.

                p Phasellus semper congue eros, quis dignissim metus luctus sed. Vivamus vel diam nibh. Etiam pharetra diam urna, semper convallis justo sollicitudin non. Nullam maximus est et arcu rutrum laoreet. Fusce vitae posuere nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus. In purus ligula, lobortis quis elit at, maximus placerat purus. Phasellus vitae consectetur nibh, sit amet auctor tortor. Sed a neque orci. Proin viverra luctus purus, ut lobortis nulla maximus non. Curabitur ut ornare ante, non malesuada urna. Nunc vulputate non nulla non tristique.

                p Cras tempor justo eget fringilla convallis. In non ultrices mi, viverra hendrerit ex. Ut a molestie augue. Aliquam velit neque, rutrum nec consequat non, sollicitudin a odio. Suspendisse malesuada enim tortor, ac fringilla lorem pretium id. Pellentesque sollicitudin fermentum nulla, ac eleifend ante luctus ac. Praesent arcu magna, rhoncus ullamcorper est ac, interdum consectetur libero. Aenean placerat at turpis nec tempus. Sed nec congue dui. Donec felis eros, dictum in sollicitudin sit amet, tincidunt non nunc. Vestibulum bibendum at neque et pretium. Etiam congue odio neque, vel pellentesque velit rhoncus et. Praesent libero mi, condimentum eget neque at, elementum placerat orci. Vestibulum venenatis felis vel mauris tincidunt porta eu sed justo.

    .listado-iconos
        .container.mt-5.py-5.text
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg" alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Praesent libero mi, condimentum eget neque at, elementum placerat orci. Vestibulum venenatis felis vel mauris tincidunt porta eu sed justo.

                .col-md-4
                    img(src="img/icono_destinos.svg" alt="icono destino" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p Praesent libero mi, condimentum eget neque at, elementum placerat orci. Vestibulum venenatis felis vel mauris tincidunt porta eu sed justo.                

                .col-md-4
                    img(src="img/icono_precios.svg" alt="icono precio" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Praesent libero mi, condimentum eget neque at, elementum placerat orci. Vestibulum venenatis felis vel mauris tincidunt porta eu sed justo.